<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f3f3f3;
      margin: 0;
      padding: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;      
    }

    .wrapper {
      background: white;
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
      min-width: 600px;
      text-align: center;
      margin-bottom: 60px;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      color: #333;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }

    th {
      white-space: nowrap;     /* zabraňuje zalomení textu */
      background: #fafafa;
      font-weight: bold;
    }

    tr:hover td {
      background: #f0f7ff;
    }

    th a {
      color: inherit;
      /* převezme barvu z th (černá) */
      text-decoration: none;
      /* odstraní podtržení */
      border-bottom: 3px solid #007bff
    }

    th a:hover {
      text-decoration: underline;
      /* nebo jinak zvýrazníš hover */
      color: inherit;
      /* zachová barvu */
    }


    .priority-0 {
      color: green;
      font-weight: bold;
    }

    .priority-1 {
      color: orange;
      font-weight: bold;
    }

    .priority-2 {
      color: red;
      font-weight: bold;
    }

    button {
      display: block;
      width: <%=hideFinished==="false"? "125%": "70%"%>;
      padding: 7px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    button:hover {
      background-color: #0056b3;
    }

    .bottomButtons {
      display: flex;
      justify-content: flex-end;
      /* tlačítka zarovnáme doprava */
      gap: 10px;
      /* mezera mezi tlačítky */
      margin-top: 20px;
    }

    .bottomButtons button {
      width: auto;
      /* necháme přirozenou šířku */
      padding: 7px 15px;
    }
  </style>
</head>

<body>

  <div class="wrapper">
    <h1>Seznam úkolů</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Jméno</th>
          <th>Popis</th>
          <% if(hideFinished === "false") { %>
          <th>Vytvořeno</th>
          <% } %>
          <th>
            <a href="?sort=<%= sort === "deadline" && order === 'desc' ? "id" : "deadline" %>&order=<%= sort==="deadline" && order==="desc" ? "asc" : sort === "deadline" ? "desc" : "asc" %>&hide_finished=<%= hideFinished === "false" ? false : true %>">
              Deadline
              <% if(sort === "deadline") { %>
              <%= order === "desc" ? "⇧" : "⇩" %>
              <% } %>
            </a>
          </th>

          <th>
            <a href="?sort=<%= sort==="priority" && order === 'asc' ? "id" : "priority" %>&order=<%= sort==="priority" && order==="asc" ? "asc" : sort === "priority" ? "asc" : "desc" %>&hide_finished=<%= hideFinished === "false" ? false : true %>">
              Priority
              <% if(sort === "priority") { %>
              <%= order === "desc" ? "⇧" : "⇩" %>
              <% } %>
            </a>
          </th>
          <% if(hideFinished === "false") { %>
          <th>Dokončeno</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% tasks.forEach(function(task) { %>
        <tr>
          <td>
            <button type="button" onclick="window.location='/<%= user %>/<%= task.id %>/done'">
              ✓
            </button>
          </td>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <% if(hideFinished === "false") { %>
          <td><%= new Date(task.created_at).toLocaleDateString() %></td>
          <% } %>
          <td><%= task.deadline && task.deadline !== "0000-00-00 00:00:00" ? new Date(task.deadline).toLocaleDateString() : "-" %></td>
          <td class="priority-<%= task.priority %>">
            <%= task.priority == "0" ? "Minoritní" : task.priority == "1" ? "Standardní" : "Kritická" %>
          </td>
          <% if(hideFinished === "false") { %>
          <td><%= task.finished_at && task.finished_at !== "0000-00-00 00:00:00" ? new Date(task.finished_at).toLocaleDateString() : "-" %></td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="bottomButtons">
      <button type="button" onclick="window.location='/<%= user %>/newForm'">+</button>
      <button type="button" onclick="window.location='/<%= user %>/prefabTable'">Vzor opakovaných tasků</button>
      <button type="button" onclick="window.location='/<%= user %>?sort=<%=sort%>&order=<%=order%>&hide_finished=<%= hideFinished === 'false' ? true : false %>'"><%= hideFinished === "false" ? "Skryj hotové" : "Ukaž hotové"%></button>
    </div>
  </div>

  <div class="wrapper">
    <h1>Seznam opakovaných úkolů</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Jméno</th>
          <th>Popis</th>

          <th>
              Priority
              <% if(sort === "priority") { %>
              <%= order === "desc" ? "⇧" : "⇩" %>
              <% } %>
          </th>
          <th>Deadline</th>
          <% if(hideFinished === "false") { %>
          <th>Dokončeno</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% clones.forEach(function(clone) { %>
        <tr>
          <td>
            <button type="button" onclick="window.location='/<%= user %>/<%= clone.id %>/cloneDone'">
              ✓
            </button>
          </td>
          <td><%= clone.name %></td>
          <td><%= clone.description %></td>
          <td class="priority-<%= clone.priority %>">
            <%= clone.priority == "0" ? "Minoritní" : clone.priority == "1" ? "Standardní" : "Kritická" %>
          </td>
          <td><%= clone.deadline && clone.deadline !== "0000-00-00 00:00:00" ? new Date(clone.deadline).toLocaleDateString() : "-" %></td>
          <% if(hideFinished === "false") { %>
          <td><%= clone.finished_at && clone.finished_at !== "0000-00-00 00:00:00" ? new Date(clone.finished_at).toLocaleDateString() : "-" %></td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="bottomButtons">
      <button type="button" onclick="window.location='/<%= user %>/prefabTable'">Vzor opakovaných tasků</button>
    </div>
  </div>
</body>

</html>